section.section.s-five.animate-block
    .container.s-five__container
        .s-five__content
            .section__title.s-five__title Оформите свою новую карту для путешествий
            .s-five-list
                .row.s-five__row
                    .col-sm-4
                        .s-five-list__item
                            .s-five-list__title
                                span до
                                |   11%
                            .s-five-list__content
                                |   Милями за услуги,
                                |   оплаченные на travel.ru
                    .col-sm-4
                        .s-five-list__item
                            .s-five-list__title
                                span до
                                |   11%
                            .s-five-list__content
                                |   Милями за услуги,
                                |   оплаченные на travel.ru
                    .col-sm-4
                        .s-five-list__item
                            .s-five-list__title 1 = 1
                            .s-five-list__content
                                |   Милями за услуги,
                                |   оплаченные на travel.ru
            .row.s-five__row
                .col
                    .s-five-card
                        img.s-five-card__img(src='build/images/sections/s-five__card.png')
                .col-lg-auto
                    .tabs.s-five-tabs
                        ul.tabs__caption.s-five-tabs__caption
                            li.active Кредитная карта
                            li Дебетовая карта
                        .tabs__content.active
                            button.button.s-five__button(data-fancybox, data-src="#request-modal", data-touch="false") Отправить заявку
                            .s-five-info
                                .s-five-info__item
                                    .s-five-info__title Стоимость карты в год (руб.)
                                    .s-five-info__content 6 490 (без пакета услуг), <br> 4 990 (с пакетом услуг)
                                .s-five-info__item
                                    .s-five-info__title Приветственные мили (шт.)
                                    .s-five-info__content 1000
                                .s-five-info__item
                                    .s-five-info__title Мили за покупки
                                    .s-five-info__content 5%
                            a.s-five__more(href='#') Все подробности
                        .tabs__content
                            button.button.s-five__button(data-fancybox, data-src="#request-modal", data-touch="false") Отправить заявку
                            .s-five-info
                                .s-five-info__item
                                    .s-five-info__title Стоимость карты в год (руб.)
                                    .s-five-info__content 6 490 (без пакета услуг), <br> 4 990 (с пакетом услуг)
                                .s-five-info__item
                                    .s-five-info__title Приветственные мили (шт.)
                                    .s-five-info__content 1000
                                .s-five-info__item
                                    .s-five-info__title Мили за покупки
                                    .s-five-info__content 5%
                            a.s-five__more(href='#') Все подробности