section.section.s-four.animate-block
    .container
        .s-four__content
            .section__title.s-four__title Персональный помощник
            .section__subtitle.s-four__subtitle
                |   Бесплатно для владельцев
                span CARD PLUS
            ul.s-four-list
                li.s-four-list__item
                    img.s-four-list__icon(src='build/images/icons/meet.svg')
                    .s-four-list__title
                        |   Организует встречи, <br>
                        |   найдет гидов <br>
                        |   и переводчиков
                li.s-four-list__item
                    img.s-four-list__icon(src='build/images/icons/trip.svg')
                    .s-four-list__title
                        |   Организует встречи, <br>
                        |   найдет гидов <br>
                        |   и переводчиков
                li.s-four-list__item
                    img.s-four-list__icon(src='build/images/icons/diamond.svg')
                    .s-four-list__title
                        |   Организует встречи, <br>
                        |   найдет гидов <br>
                        |   и переводчиков
                li.s-four-list__item
                    img.s-four-list__icon(src='build/images/icons/bar.svg')
                    .s-four-list__title
                        |   Организует встречи, <br>
                        |   найдет гидов <br>
                        |   и переводчиков