section.section.s-one.animate-block
    .s-one__card
        img(src='build/images/sections/s-one__card.png')
    .container
        .s-one__content
            .s-one__title Твоя премиум <br> карта
                .s-one__subtitle Лучшая карта для <br> любителей путешествий
            .s-one-list
                .row.s-one__row
                    .col-auto
                        .s-one-list__item
                            .s-one-list__title 11%
                            .s-one-list__content Вернем <br >за покупки <br> милями
                    .col-auto
                        .s-one-list__item
                            .s-one-list__title 11%
                            .s-one-list__content Вернем <br >за покупки <br> милями
                .row.s-one__row
                    .col-auto
                        .s-one-list__item
                            .s-one-list__title 11%
                            .s-one-list__content Вернем <br >за покупки <br> милями
                    .col-auto
                        .s-one-list__item
                            .s-one-list__title 11%
                            .s-one-list__content Вернем <br >за покупки <br> милями
            button.button.animate-block(data-fancybox, data-src="#request-modal", data-touch="false") Заказать сейчас