section.section.s-three.animate-block
    .container
        .s-three__content
            .section__title.s-three__title Мы позаботились, чтобы вы получили
            .s-three-list
                .row.s-three__row
                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Бесплатный безлимитный интернет в роуминге
                            ul.s-three-partners
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/megafon.png')
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/tele2.png')
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/mtc.png')
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/beeline.png')
                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Бесплатный безлимитный интернет в роуминге
                            .s-three-list__content
                                |   Держатели карт Visa Signature
                                |   могут упаковать багаж в крупных
                                |   аэропортах России

                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Бесплатный доступ в приложении App In The Air
                            .s-three-list__content
                                |   Держатели карт Visa Signature
                                |   могут упаковать багаж в крупных
                                |   аэропортах России
                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Такси бизнес-класса со скидкой 20%
                            ul.s-three-partners
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/wheely.png')
                                li.s-three-partners__partner
                                    img.s-three-partners__img(src='build/images/companies/gett.png')
                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Бесплатный доступ в приложении App In The Air
                    .col-md-6.col-lg-4
                        .s-three-list__item
                            img.s-three-list__img(src='https://placeimg.com/280/155/any')
                            .s-three-list__title Бесплатный доступ в приложении App In The Air