section.section.s-two.animate-block
    .container
        .s-two__content
            .section__title.animate-block Путешествие мечты начинается с CARD PLUS
            .section__subtitle.s-two__subtitle
                |   Мы продумали каждую мелочь. Владельцы CARD PLUS получают особый <br>
                |   пакет привилегий, необходимый для любого путешествия
            .s-two-list
                .row.s-two__row
                    .col-md-6.col-lg-4.col-xl-3
                        .s-two-list__item
                            img.s-two-list__icon(src='build/images/icons/ticket.svg')
                            .s-two-list__title
                                |   Билеты любых <br>
                                |   авиакомпаний
                            .s-two-list__content
                                |   Предложения от 300+ <br>
                                |   авиакомпаний, 185+ <br>
                                |   lowcost перевозчиков, <br>
                                |   чартеры от 60 крупных <br>
                                |   российскихтуроператоров
                    .col-md-6.col-lg-4.col-xl-3
                        .s-two-list__item
                            img.s-two-list__icon(src='build/images/icons/airplane.svg')
                            .s-two-list__title
                                |   Билеты любых <br>
                                |   авиакомпаний
                            .s-two-list__content
                                |   Предложения от 300+ <br>
                                |   авиакомпаний, 185+ <br>
                                |   lowcost перевозчиков, <br>
                                |   чартеры от 60 крупных <br>
                                |   российскихтуроператоров
                    .col-md-6.col-lg-4.col-xl-3
                        .s-two-list__item
                            img.s-two-list__icon(src='build/images/icons/heart.svg')
                            .s-two-list__title
                                |   Билеты любых <br>
                                |   авиакомпаний
                            .s-two-list__content
                                |   Предложения от 300+ <br>
                                |   авиакомпаний, 185+ <br>
                                |   lowcost перевозчиков, <br>
                                |   чартеры от 60 крупных <br>
                                |   российскихтуроператоров
                    .col-md-6.col-lg-4.col-xl-3
                        .s-two-list__item
                            img.s-two-list__icon(src='build/images/icons/currency.svg')
                            .s-two-list__title
                                |   Билеты любых <br>
                                |   авиакомпаний
                            .s-two-list__content
                                |   Предложения от 300+ <br>
                                |   авиакомпаний, 185+ <br>
                                |   lowcost перевозчиков, <br>
                                |   чартеры от 60 крупных <br>
                                |   российскихтуроператоров