
<div class="modal request-modal" id="request-modal">
  <div class="modal__content request-modal__content">
    <div class="modal__title title-2 question-modal__title">Задать вопрос</div>
    <form class="form">
      <div class="form-block">
        <label class="form-label">Ваше имя*</label>
        <input class="form-field form-input" type="text" name="first_name" required="required" placeholder="Ваше имя"/>
      </div>
      <div class="form-block">
        <label class="form-label">E-mail*</label>
        <input class="form-field form-input" type="email" name="email" required="required" placeholder="Ваша почта"/>
      </div>
      <div class="form-block">
        <label class="form-label">Пароль*</label>
        <textarea class="form-field form-textarea" placeholder="Ваш вопрос"></textarea>
      </div>
      <div class="form-block">
        <label class="form-label form-checkbox">
          С условиями
          <a href="#">обработки персональных данных</a>
          ознакомлен и согласен
          
          <input type="checkbox"/><span></span>
        </label>
      </div>
      <div class="form-block">
        <button class="button button_blue form-submit" type="submit">Отправить</button>
      </div>
    </form>
  </div>
</div>