
<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar-menu">
      <ul class="sidebar-menu__list">
        <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#">Какие преимущества</a></li>
        <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#">Что вы получаете</a></li>
        <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#">Еще сюрпризы</a></li>
        <li class="sidebar-menu__item"><a class="sidebar-menu__link" href="#">Оформить карту</a></li>
      </ul>
    </div>
  </div>
</aside>