aside.sidebar
    .sidebar__content
        .sidebar-menu
            ul.sidebar-menu__list
                li.sidebar-menu__item
                    a.sidebar-menu__link(href='#') Какие преимущества
                li.sidebar-menu__item
                    a.sidebar-menu__link(href='#') Что вы получаете
                li.sidebar-menu__item
                    a.sidebar-menu__link(href='#') Еще сюрпризы
                li.sidebar-menu__item
                    a.sidebar-menu__link(href='#') Оформить карту
        .info
            .info__item
                .info__title По России
                a.info__phone(href='tel:88009506570') 8 800 950 6570
            .info__item
                .info__title По Миру
                a.info__phone(href='tel:88009506570') 8 800 950 6570
