.modal.success-modal#success-modal
    .modal__content.success-modal__content
        img.success-modal__icon(src='build/images/icons/accept.svg')
        .modal__title.success-modal__title Ваша заявка принята
        .modal__subtitle В ближайшее время с вами свяжется наш менеджер
