footer.footer
    .container.footer__container
        .footer__content
            .row.footer__row
                .col-lg-auto
                    .footer-credit
                        a.logo.footer-logo(href='/')
                            img(src='build/images/logo.png')
                        span АО «Кредит Европа Банк»
                .col-auto
                    .footer-menu
                        ul.footer-menu__list
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Реализуемое имущество
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Реализуемое имущество
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Реализуемое имущество
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Реализуемое имущество
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Реализуемое имущество
                        ul.footer-menu__list
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Корпоративное управление
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Корпоративное управление
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Корпоративное управление
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Корпоративное управление
                            li.footer-menu__item
                                a.footer-menu__link(href='#') Корпоративное управление
                .col-sm-auto
                    .info.footer-info
                        .info__item
                            .info__title По России
                            a.info__phone(href='tel:88009506570') 8 800 950 6570
                        .info__item
                            .info__title По Миру
                            a.info__phone(href='tel:88009506570') 8 800 950 6570
